name: 'CI'

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  test:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'actions/setup-java@v5'
        with:
          java-version: '25'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v5
      - run: 'chmod +x gradlew'
      - run: './gradlew test --info'
      - uses: 'actions/upload-artifact@v5'
        if: 'always()'
        with:
          name: 'test-reports'
          path: 'build/reports/'

  format:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'actions/setup-java@v5'
        with:
          java-version: '25'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v5
      - run: 'chmod +x gradlew'
      - run: './gradlew spotlessCheck'
